In [1]:
##Importing PySpark Library and building Spark Session

import pyspark

from pyspark.sql import SparkSession
from pyspark.context import SparkContext 
sc = SparkSession.builder.master("local[*]").config("spark.mongodb.input.uri","mongodb://localhost:27017/Dbda.aj").config("spark.mongodb.output.uri","mongodb://localhost:27017/Dbda.aj").config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:3.0.0").getOrCreate()

In [2]:
from pyspark.sql.functions import *

df=sc.read.options(inferSchema='True',delimiter=',',header='True').csv("vehicles.csv")
df.show(5)
df.count()

+---+----------+--------------------+------+--------------------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+-----+---------+----------+--------------------+
|_c0|        id|                 url|region|          region_url|price|  year|manufacturer|               model|condition|  cylinders|  fuel|odometer|title_status|transmission|              VIN|drive|     size|  type|paint_color|           image_url|         description|state|      lat|      long|        posting_date|
+---+----------+--------------------+------+--------------------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+-----+---------+----------+--------------------+
|  0|7240372487|https://auburn.cr...|auburn|https://auburn.cr...|35990|2010.0|   chevrolet|corvette grand sport|     good|8 cylinders|   gas| 32742.0|       clean|       other|1G1YU3DW1A5106980|  rwd|     null| other|       null|https://images.cr...|Carvana is the sa...|   al|    32.59|    -85.48|2020-12-02T08:11:...|
|  1|7240309422|https://auburn.cr...|auburn|https://auburn.cr...| 7500|2014.0|     hyundai|              sonata|excellent|4 cylinders|   gas| 93600.0|       clean|   automatic|5NPEC4AB0EH813529|  fwd|     null| sedan|       null|https://images.cr...|I'll move to anot...|   al|  32.5475|  -85.4682|2020-12-02T02:11:...|
|  2|7240224296|https://auburn.cr...|auburn|https://auburn.cr...| 4900|2006.0|         bmw|             x3 3.0i|     good|6 cylinders|   gas| 87046.0|       clean|   automatic|             null| null|     null|   SUV|       blue|https://images.cr...|Clean 2006 BMW X3...|   al|32.616807|-85.464149|2020-12-01T19:50:...|
|  3|7240103965|https://auburn.cr...|auburn|https://auburn.cr...| 2000|1974.0|   chevrolet|                c-10|     good|4 cylinders|   gas|190000.0|       clean|   automatic|             null|  rwd|full-size|pickup|       blue|https://images.cr...|1974 chev. truck ...|   al|  32.8616|  -85.2161|2020-12-01T15:54:...|
|  4|7239983776|https://auburn.cr...|auburn|https://auburn.cr...|19500|2005.0|        ford|         f350 lariat|excellent|8 cylinders|diesel|116000.0|        lien|   automatic|             null|  4wd|full-size|pickup|       blue|https://images.cr...|2005 Ford F350 La...|   al|  32.5475|  -85.4682|2020-12-01T12:53:...|
+---+----------+--------------------+------+--------------------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+-----+---------+----------+--------------------+
only showing top 5 rows

475057

In [3]:
#from pyspark import SparkFiles

#ucd_url=("https://projectknow.s3.ap-south-1.amazonaws.com/vehicles.csv")
#sc.sparkContext.addFile(ucd_url)
#df=sc.read.csv(SparkFiles.get("vehicles.csv"), header=True, inferSchema=True)

#df.count()

In [4]:
# Removing Unwanted Columns

ucd = df.drop('_c0', 'id', 'url', 'region_url', 'image_url','VIN','description','posting_date','size','state')
ucd.show(5)

+------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----+------+-----------+---------+----------+
|region|price|  year|manufacturer|               model|condition|  cylinders|  fuel|odometer|title_status|transmission|drive|  type|paint_color|      lat|      long|
+------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----+------+-----------+---------+----------+
|auburn|35990|2010.0|   chevrolet|corvette grand sport|     good|8 cylinders|   gas| 32742.0|       clean|       other|  rwd| other|       null|    32.59|    -85.48|
|auburn| 7500|2014.0|     hyundai|              sonata|excellent|4 cylinders|   gas| 93600.0|       clean|   automatic|  fwd| sedan|       null|  32.5475|  -85.4682|
|auburn| 4900|2006.0|         bmw|             x3 3.0i|     good|6 cylinders|   gas| 87046.0|       clean|   automatic| null|   SUV|       blue|32.616807|-85.464149|
|auburn| 2000|1974.0|   chevrolet|                c-10|     good|4 cylinders|   gas|190000.0|       clean|   automatic|  rwd|pickup|       blue|  32.8616|  -85.2161|
|auburn|19500|2005.0|        ford|         f350 lariat|excellent|8 cylinders|diesel|116000.0|        lien|   automatic|  4wd|pickup|       blue|  32.5475|  -85.4682|
+------+-----+------+------------+--------------------+---------+-----------+------+--------+------------+------------+-----+------+-----------+---------+----------+
only showing top 5 rows

In [5]:
# Deleting fully blank rows

ucd=ucd.na.drop("all")
ucd.count()

467076

In [6]:
# Finding how many null values are present in each column

ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()

+------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+-----------+-----+-----+
|region|price|year|manufacturer|model|condition|cylinders| fuel|odometer|title_status|transmission| drive|  type|paint_color|  lat| long|
+------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+-----------+-----+-----+
|     0| 5357|6880|       24442|11756|   200105|   178306|10553|   62620|        9928|        9863|141804|120504|     148608|18574|18203|
+------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+-----------+-----+-----+

In [7]:
# Since Price column is the target column Null Values must be Removed  

ucd=ucd.na.drop(subset=['price'])

# Removing Price Outliers (i.e. Resale Price Of Car will not be less than $100 and More than $500K)
ucd = ucd[((ucd['price'] < 500000) & (ucd['price'] > 100))]

# Finding how many null values are present in remaining columns and also checking the count of rows
ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()
ucd.count()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| drive|  type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+
|     0|    0|1114|       16260| 4328|   168966|   152697|2741|   48300|        1970|        1881|122026|104104|     126770|7606|7237|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+

421889

In [8]:
# Dropping Blank/Null values from Year column 

ucd=ucd.na.drop(subset=['year'])

# Finding how many null values are present in remaining columns and also checking the count of rows
ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()
ucd.count()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| drive|  type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+
|     0|    0|   0|       15149| 4221|   167852|   152579|2498|   48193|        1620|        1774|121767|103923|     126598|7499|7130|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+------+-----------+----+----+

420775

In [9]:
# Finding Distict Values of "Title_status" column

distinct_ids = [x.title_status for x in ucd.select('title_status').distinct().collect()]
distinct_ids

[' 330',
 None,
 ' Extended ',
 'lien',
 ' 535',
 'missing',
 'clean',
 ' 645',
 'salvage',
 '53312.0',
 'rebuilt',
 'parts only',
 '323ci']

In [10]:
# Most Customerd prefer Clean Cars so eliminating rest and just including clean cars

ucd=ucd.filter(ucd['title_status'].isin(["clean"]))

# Finding how many null values are present in remaining columns and also checking the count of rows
ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()
ucd.count()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| drive| type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|     0|    0|   0|       14367| 3944|   161738|   147764|1779|   45367|           0|        1529|116757|98438|     121450|7408|6924|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+

403123

In [11]:
# Finding Distict Values of Transmission column

distinct_ids = [x.transmission for x in ucd.select('transmission').distinct().collect()]
distinct_ids

[None, 'automatic', 'other', 'manual']

In [12]:
# Eliminating Blanks from Transmission column since the count is small it won't impact

ucd=ucd.na.drop(subset=['transmission'])

# Finding how many null values are present in remaining columns and also checking the count of rows
ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()
ucd.count()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| drive| type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|     0|    0|   0|       14251| 3893|   160282|   146293|1755|   45287|           0|           0|115993|98415|     121129|7267|6783|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+

401594

In [13]:
# Finding Distict Values of fuel column

distinct_ids = [x.fuel for x in ucd.select('fuel').distinct().collect()]
distinct_ids

['gas', None, 'other', 'diesel', 'hybrid', 'electric']

In [14]:
# Eliminating Blanks from Fuel column since the count is small it won't impact

ucd=ucd.na.drop(subset=['fuel'])

# Finding how many null values are present in remaining columns and also checking the count of rows
ucd.select([count(when(isnull(c), c)).alias(c) for c in ucd.columns]).show()
ucd.count()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| drive| type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+
|     0|    0|   0|       14188| 3893|   158533|   145572|   0|   45261|           0|           0|115586|98209|     120877|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+------+-----+-----------+----+----+

399839

In [15]:
# Finding Distict Values of Drive column

distinct_ids = [x.drive for x in ucd.select('drive').distinct().collect()]
distinct_ids

[None, 'fwd', 'rwd', '4wd']

In [16]:
# Replacing Blank/Null Values of Drive column with "Other"

ucd_1=ucd.na.fill("other",subset=['drive'])

# Finding how many null values are present in remaining columns
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+-----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive| type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+-----+-----------+----+----+
|     0|    0|   0|       14188| 3893|   158533|   145572|   0|   45261|           0|           0|    0|98209|     120877|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+-----+-----------+----+----+

In [17]:
# Finding Distict Values of Type column

distinct_ids = [x.type for x in ucd_1.select('type').distinct().collect()]
distinct_ids
ucd_1.count()

399839

In [18]:
#ucd_1.coalesce(1).write.format('csv').save("check", header='true')

In [19]:
# Filling Blank Values of Type column with "Other"

ucd_1=ucd_1.na.fill("other",subset=['type'])

# Finding how many null values are present in remaining columns
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|       14188| 3893|   158533|   145572|   0|   45261|           0|           0|    0|   0|     120877|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [20]:
# Finding Distict Values of Type column

distinct_ids = [x.paint_color for x in ucd_1.select('paint_color').distinct().collect()]
distinct_ids

['orange',
 'grey',
 'green',
 'yellow',
 None,
 'silver',
 'purple',
 'white',
 'red',
 'custom',
 'black',
 'brown',
 'blue']

In [21]:
# Filling Blank Values of Paint_color column with "Unknown"

ucd_1=ucd_1.na.fill("unknown",subset=['paint_color'])

# Finding how many null values are present in remaining columns
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|       14188| 3893|   158533|   145572|   0|   45261|           0|           0|    0|   0|          0|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [22]:
ucd_1.printSchema()

root
 |-- region: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)

In [23]:
# Changing datatype of columns price & odometer to integer

ucd_1 = ucd_1.withColumn("price",ucd_1["price"].cast("int"))
ucd_1 = ucd_1.withColumn("odometer",ucd_1["odometer"].cast("int"))
ucd_1.printSchema()

root
 |-- region: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: integer (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)

In [24]:
# Finding Mean of Odometer and replacing null values with the mean 

meanValue=ucd_1.select(mean(ucd_1.odometer)).collect()
print(type(meanValue))
print('mean value of odometer', meanValue[0][0])
mean_odometer=meanValue[0][0]
#now using men_sales value to fill the nulls in sales column
ucd_1=ucd_1.na.fill(mean_odometer,subset=['odometer'])
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

<class 'list'>
mean value of odometer 104744.54248148503
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|       14188| 3893|   158533|   145572|   0|       0|           0|           0|    0|   0|          0|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [25]:
# Replacing Blanks of columns of Manufacturer & Model with "Other"

ucd_1=ucd_1.na.fill("other",subset=['manufacturer','model'])
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|           0|    0|   158533|   145572|   0|       0|           0|           0|    0|   0|          0|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [26]:
# Filling Blank/Null values in condition column with "not specified"

ucd_1=ucd_1.na.fill("not specified",subset=["condition"])
ucd_1.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|           0|    0|        0|   145572|   0|       0|           0|           0|    0|   0|          0|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [27]:
distinct_ids = [x.cylinders for x in ucd_1.select('cylinders').distinct().collect()]
distinct_ids

[None,
 '3 cylinders',
 'other',
 '10 cylinders',
 '6 cylinders',
 '4 cylinders',
 '12 cylinders',
 '5 cylinders',
 '8 cylinders']

In [28]:
# Filling Blank/Null values in cylinders column with "other"

ucd_2=ucd_1.na.fill("other",subset=["cylinders"])
ucd_2.select([count(when(isnull(c), c)).alias(c) for c in ucd_1.columns]).show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+
|     0|    0|   0|           0|    0|        0|        0|   0|       0|           0|           0|    0|   0|          0|7257|6773|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+

In [29]:
distinct_ids = [x.model for x in ucd_2.select('model').distinct().collect()]
distinct_ids

['lacrosse',
 'dts',
 '4runner',
 'hr-v',
 'cts sedan',
 'transit connect cargo van',
 'charger se',
 'sentra sv',
 'azera',
 'toyta camry',
 '2500 diesel',
 'sonata hybrid',
 'explorer limited 4wd',
 'q40',
 'equinox ltz sport',
 'avalon limited',
 'sentra sr sedan 4d',
 'cherokee trailhawk',
 'hse',
 'caravan se',
 'silverado 2500 work truck dump bed!',
 '2019 3/4 ton cargo vans',
 'journey se sport utility',
 'savana cargo 2500 3dr',
 'aerostar',
 'passat 2.0l turbo cc',
 'r 320 cdi',
 'All makes and Models',
 'pontaic firebird',
 'range evoque hse',
 'cheyenne',
 'Inifniti G37',
 '27 Bugatti',
 'xk8',
 'journey 75,000 miles 7',
 'cls63 amg',
 'Isuzu trooper limited',
 'sierra 3500 utility',
 'TOYOTA, PRERUNNER V6 TACOMA',
 'benz 300sl',
 'ls 460l',
 'Manual AWD',
 'xc60 t6 momentum sport',
 'verano base',
 'F-100 Custom Cab',
 'a4 2.0t premium plus awd',
 'crv lx awd',
 'benz s320 lwb',
 'silverado 1500 4x4 4dr kc',
 'borrego',
 'montego premier',
 'f 250 xlt crew cab',
 'eclipse gs',
 'passat cc r-line',
 'suzuki carry truck',
 'BENTLEY MULSANNE',
 'ls 250',
 'silverado 3500 ltz',
 'mdx fwd with technology package automatic',
 'f-350 super duty king ranch - crew cab - 4x4 - 8ft lb - diesel',
 'pacifica hybrid tourin',
 'f150 ecoboost 4x4',
 'silverado durmax 2500',
 'POLARIS RANGER RZR 900',
 'tundra sr5 v8',
 'focus sport ses',
 'ls 600h l sedan hybrid',
 'journey awd lux',
 'monte',
 '1500 slt big horn',
 'lancer hatchback',
 'K',
 'lacrosse super',
 'f-350 4x4 ext cab',
 'rogue special edition',
 'e150 conv. van',
 'crv exl-awd 30mpg',
 'geo prizm lsi',
 'new compass limited',
 'DLM Transit Camper Van',
 '1500 bighorn 4x4',
 'lierty',
 '4 door denali',
 'town &country ltd',
 '2001 crown vic',
 'cl200',
 'jetta tdi sel',
 '3500 dually big horn',
 'G35 Sedan 6 MT',
 's10 xtreme',
 'mustang gtcs',
 'f350 manual',
 'q3 q5 q7 a3 a4 a5 a6 a7',
 'LT',
 'mercedez benz',
 '5500 chassis',
 'tc7500',
 'Oreion Reeper',
 '1994 Mustang GT Convertible',
 'Sherman+%2B+Reilly Camaro',
 'f150 4x4 xtra cab stx cobra',
 'sonta',
 'l-179',
 'protege5 sport wagon #26',
 'f-150 lariat supercrew 4x4',
 'camry le fwd',
 '4runner limited 4x4, v8',
 'golf tsi s wolfsburg',
 'x3 xdrive28i awd only 64k leather pano 2 owners',
 'spark 1lt cvt',
 'q7 premium plus virtual co',
 "tacoma sr5 double cab 5'",
 'grand cherokee sport 1-owne',
 'sierra sle 2500',
 'utility body',
 'benz gl 450',
 'e-350 contractor van',
 'mirage g4 le',
 'Sprint car',
 'Freightliner Columbia Day Cab',
 'fx35 base',
 '328 ci',
 'Chevrolet-3 OWNER CARFAX CLEAN! Malibu-33 MPH HWY',
 'pirus c',
 'volkwagen jetta',
 '2500 lifted',
 '2016 z71 4x4 1500 lt',
 'Mustang gt premium pp',
 'corvette convertable',
 'sonic lt sedn',
 'acadia sle-2 6-speed automatic',
 'edge limited fwd 6-speed automatic',
 'fit sport 5-speed at',
 'camaro ss rwd gas',
 'silverado 2500hd built',
 'eclipse cross sel',
 'f150 raptor pickup 4wd',
 'RJ trailer',
 'accord lx-p sedan 4dr',
 'sonoma zr5',
 'slk 300',
 '2014 Corvette Stingray Z51',
 'lifted titan sv 4x4 gas',
 'f-750',
 'verano',
 '2008 scion xb',
 's60 r',
 'fiesta se hatchback',
 'x4 m-sport awd',
 'outback premium automatic',
 'eclipse cross se awd',
 'sequioa',
 'cr-v lx 4wd',
 'is 250 sedan 4d',
 'venza awd v6 wagon',
 '1500 express',
 'Hummer H1',
 'f-250 super duty lariat 4x4',
 'highlander hybrid limited',
 'elantra gls sedan 4d',
 'civic cng',
 'crv ex awd',
 'sonic 2lt hatchback',
 'outlander xls',
 'impreza 2.0i sport',
 'benz c230',
 '85 Rolls-Royce Spirit',
 '"touareg tdi lux every service done at dealer 10k/20/30/40/50/60k* 57k original msrp* 19"" wheels* pirelli tires* lux package* tinted windows* heated seats* local washington trade in*"',
 'lesabre limited',
 '2500 big horn crew cab 4x4',
 '1500 slt quad cab sb',
 'sienna se minivan 4d',
 'rio 5-door',
 'Willys Sedan',
 'rc 200t',
 '528xi awd 1 owner 88,000',
 '4 series 440i coupe 2d',
 '2 series m235i',
 'fsuperduty',
 'f250 4x4 platinum',
 'corolla le - new tires - low mileage-',
 'f-150 xl - rear camera - bluetooth - recently smog',
 'm m35x sedan 4d',
 'tiguan wolfsburg edition',
 'cheyenne 2500',
 'e350 cargo van',
 'sr5 pickup',
 'rav4 4wd',
 'corvette 2dr grand',
 'mbz c300 cabriolet',
 'camry corolla yaris',
 'genesis 5.0 r-spec sedan',
 'bel air hardtop',
 'mazda3 s grand touring',
 'sterling lt9500',
 'g35x sedan',
 '944',
 'police interceptor utility',
 'xj coupe',
 'silverado 1500ls 4x4',
 'camry hybrid xle sedan 4',
 'sierra silverado 1500',
 'grand marquise leather',
 'cooper clubman hatchback',
 'corolla s 2013',
 'e350 versalift bucket',
 'corvette 2dr cpe',
 'any and all',
 'maserati ghibli s q4',
 'expedition eddie bauer 2wd',
 'sonata sel',
 'avenger se sedan',
 'KIAL SOUL',
 '280 sl',
 'f150 lariat 4x4',
 'benz clk430',
 'benz cl500 coupe',
 '2002 Camaro 35th Anniversary',
 'sprinter diesel cargo van',
 '1955 Willys cj5',
 'express passenger 3500',
 'highlander xle awd',
 'envoy slt 4x4',
 'q5 premium plus quattro awd',
 'gto coupe 6-speed manual',
 'odyssey van',
 'cooper coupe',
 '2011Chevy Cruze LT',
 'Freightliner M-2 Knuckle Boom Truck',
 '3500 laramie 4x4',
 'international dump truck',
 'element ex at',
 '2000 freightliner',
 'silverado ls z71',
 '3500 hd 4x4',
 'impreza hatch',
 'mkz luxury hybrid',
 'bronco ii eddie bower',
 'terrain sle-1 awd',
 'e-350 1 ton custom',
 'Willys Jeepster Phaeton',
 'CAMARO',
 '1985 Mustang GT',
 'impreza premium pzev',
 '550xi awd m series',
 'q5 tech premium 4wd',
 '2002 F-250',
 'silverado 2500 ltz z71',
 'bunn buggy',
 'ADVANCED 2+2',
 'xc60 t6 premier plus',
 'soul +wagon 4d',
 '1500 slt 4x4 hemi',
 'clk 240 4matic',
 'KarmannGhia Cabrioket',
 'outback 2.5i ltd.',
 'Volkswagon Jetta',
 'sienna l 7',
 'civic sport hatchback 4d',
 '2011 nissian frontier sv',
 'camry se 4cyl',
 'yukon xl denali v8 awd',
 'f-150 xl 4x4 supercab',
 '3500 cummins diesel',
 's60 t6 momentum',
 'Freightliner MT-55',
 'sonata se 2.0t',
 'sport sup',
 'elantra gls sedan 2011',
 'tundra sr5! 4x4! low mile',
 'navigator￼',
 'accord hybrid ex',
 'x1 xdrive28i head-up displa',
 'e-class e350 sedan',
 'c t s',
 'isuzu nnr',
 'vue i4 auto',
 'conversion 1500',
 '6 series 650i gran coupe 4d',
 'equinox premier automatic',
 'c350',
 'f250 fx4 king ranch',
 'International CE105',
 'camry 2011',
 'amg g 63',
 'fusion s hybrid sedan 4d',
 'MADA CX-5',
 'f-100 custom cab',
 'versa ls',
 'gl350 4matic awd b',
 'mazada mx6',
 'Miniature Firetruck',
 's70 turbo',
 'k10pu',
 '800',
 'oldsmobile cutlass convertible',
 'mustang gt h&r lowerin',
 'cayenne exsuv',
 'f-150 4wd',
 'forester premium 2.5x awd',
 'School Bus',
 '2500 crew cab diesel',
 'x3 xdrive35i heads up displ',
 'escape titanium',
 'silverado 2500hd 2500 hd',
 'express 1500',
 '2009 INTERNATIONAL',
 'ranger lariat',
 'Srx',
 'Psion XB',
 'durango crew',
 'durango r/t awd',
 'mkt',
 'srx luxury awd',
 'durango r/t awd gas',
 'volt hatchback',
 'corolla le eco',
 'viper',
 'caliber r/t',
 'mustang 2dr fastback gt',
 'f350 king ranch',
 '2500 crew cab tradesman',
 'x3 xdrive28i sport utility',
 'suzuki reno',
 'grand cherokee altitude 4x4',
 'tiguan s 4motion',
 'e350 xl hightop wheelchair',
 'f-250 superduty lariat',
 'xts premium collection',
 'checy silverado',
 'yaris l hatchback sedan',
 'corvette z06',
 '3.2 tl',
 'galaxie convertible',
 'ct',
 'prius v five',
 '1500 quad cab tradesman',
 'vue awd',
 'Accessible PT Cruiser',
 'es350 one owner',
 '2004 sentra',
 '4runner sr5 edition',
 "3500 high roof 10'6 - lift gate -",
 'pathfinder 4×4',
 'benz 450 sl',
 'accord touring',
 'f-250 ext-cab',
 'hse td6',
 'rdx sh-awd a-spec',
 'cherokee t5 premier',
 'Scion xB 5dr Wgn Man (Natl)',
 'civic 2008',
 'ss impala',
 'srx v8',
 'Lance 8000',
 'm45x',
 'f-350 super duty xlt',
 'eclipse spyder gts',
 'Winnebago warrior',
 'ridgeline rtl e',
 'SAAB 9-2X 2.5I',
 'c280/spt',
 'oldsmobile cutlass ciera',
 's40 2.4 premium pkg.',
 'concours',
 'Peterbilt 579',
 '1968 camaro  restomod',
 'ats 3.6l 94k clean',
 'f 250 xlt fx4',
 'corvette 3lt',
 'f150 lariat 4wd f-150',
 'tacoma lx',
 'm3 coupe',
 'mack vision',
 '2007 camry le',
 'e350 super duty shuttle',
 'ranger regular cab',
 'tundra limited 4dr',
 'challenger r t',
 'stinger base rwd',
 'tacoma double ab',
 'sierra 3500hd available',
 'f150 xlt xtr 4x4 1/2 ton',
 'f25o superduty xlt',
 'aspen awd 3rd row',
 'Chvey sonic LT',
 'escape xlt fwd',
 'f250 diesel powerstroke xlt',
 "HINO 268A 26' BOX TRUCK",
 'All Makes',
 'x5m',
 'element lx awd',
 'pathfinder 4wdle',
 'g wagon w463 model',
 'tle',
 'rav-4 limited awd',
 'SENTRA 1.6 SR TURBO CVT',
 '2500 express cargo van',
 'International 2674',
 'silverado lt 2500hd',
 'SAJWA2GB3CLV27609',
 'Scion xB Wheelchair Van',
 'lacrosse essence',
 'g6 se1',
 'Freightliner M2 106 Medium Duty',
 'f-150 xlt crew cab short b',
 '1989 cherokee',
 'promaster city tradesman slt',
 'ml500 4matic',
 'civic lx sedan 5-speed at',
 'tribute 4x4',
 'f350 crew',
 '1999 Blue Bird',
 '2500 lst laramie',
 'Hynday Sonata GLS',
 'sonic - rs',
 'national 400b series 446b 10 ton hydraulic crane',
 '2015 Taurus SHO',
 'gr caravan w/ stow n go',
 'xv crosstrek premium awd',
 '1997 f250',
 'benz sl 500',
 'premiere',
 '340i x-drive',
 '458 italia',
 'fleetwood limosoine',
 '1500 mega cab slt',
 'f600 flatbed dump',
 'rx 330 awd / leather / moon roof / service records',
 'vandura',
 'evoque pure plus only 40k heated leather pano roof mint',
 '4w a6',
 'cr-v awd 5dr ex-l',
 '3200',
 'f2',
 'Camaro 2SS',
 'vnl64t730',
 'f150 with utility top',
 'ALL BRNADS',
 'f350 flatbed',
 'titan 2wd crew cab swb x',
 'sierra crew cab',
 'chevrolrt colorado',
 'lancer ralliart awd',
 'dakota sl',
 'dakota ex 4x4 st',
 '1995 corvette',
 'rio sd 4-d sedan',
 'avalanche ltz 4x4 4dr',
 'f-350 lifted-wheels & tires',
 'focus wagon ses',
 'outdoorsman 2500',
 'maserati ghibli sq4',
 'f-150 xlt*4wd*leather*back',
 'liberty sport 4dr sport',
 'savana explorer limited se',
 'soul 4 dr hatch',
 'escape titanium 4d sport utility automatic',
 'sportage',
 'suburban lt',
 'pacifica',
 'is 250 awd nav',
 '328d',
 'astro cargo van',
 'odyssey elite',
 'forester 2.5i touring',
 'clk-class',
 'f-250 crew cab lariat 4x4 6.7 power stroke turbo diesel',
 'F-350 turbo diesel',
 '4runner leveled sr5 3rd row seat 4x4 4.0 liter 270 hp v6',
 'Olds Cutlass Supreme',
 'pao',
 'ls 460 l',
 '7.3',
 'rio sedan 4 door',
 'tundra double cab',
 'murano sv',
 'f-350 diesel 4x4 7.3l power stroke turbo diesel crew cab short bed',
 "Willy's overland 1962",
 'passat 2.5l s sedan',
 'mercedes-amg gle',
 'jimmy sle',
 'grand cherokee laredo sport',
 'durango citadel sport',
 'PLYMOUTH PROWLER',
 'tacoma trd pro',
 'e-series cargo e-150',
 'a5 2.0t quattro premium plus',
 'Sterling L9500',
 'outback touring',
 'es300h',
 'a5 2.0t premium plus coupe',
 'genesis 5.0l',
 's60 2.4t',
 '911 carrera 991.2 pse pdls w. techart kit',
 '2002 FOR TAURS',
 'grad prix gtp',
 '3500 crew cab lwb slt',
 'ranger xrt',
 'altima 2.5 sv sedan 4d',
 'elantra sport sedan 4d',
 'e350 cutaway',
 'malibu rs sedan 4d',
 '3500 tradesman dually 4x4',
 'bel air convertible',
 '300zx convertible',
 'FOUR WINDS CLASSIC RV TOY',
 'fi50 fx2',
 'hino 268',
 'cx-3 grand touring',
 'mr2 spyder convertible',
 '2003 International9100i',
 'hr-v ex-l',
 'prius hybrid 3',
 'scion xd corolla',
 '300c srt-8 2wd',
 'c10 stepside',
 'eclipse cross sp',
 'Customline.  Ford.',
 'explorer xlt 4x4 gas suv',
 'gs 350 awd sport package',
 'fj cruiser sr 4x4 gas',
 'savana 3500 box cutaway',
 'sierra diesel durmax 1500',
 'r320',
 'rogue sl fwd 2010',
 'f6',
 'suburban 2500 lt',
 'acadia limited fwd',
 'rogue s fwd',
 '2011 Mustang convertible',
 'f150 xlt xtra cab 4x4',
 'taho lt 4x4',
 'mx-5 miata roadster',
 'Jerp Renegade',
 'f150 supercrew 4x4 xlt',
 'JEPP LAREDO 4X4',
 'n600',
 'gx350l',
 'solstive convertible',
 'xg 350',
 'Saleen truck',
 'edge st awd',
 '750i xdrive m sport package',
 'Freestyle Third row seating',
 'c280 awd',
 'durango r/t awdsuv',
 'International C96',
 'Vespe 400',
 'f250 sd 4wd w/ plow',
 'express conversion van',
 '1996 suburu legecy',
 'sonata sel sedan 4d',
 'g-1500',
 '1958 bentley s1',
 'fuso fe639',
 'e-350 super duty-xlt',
 'sts 4',
 'e350 ext pass van',
 'e250 wheelchair van',
 'stake bed',
 '1500 crew longhorn 4x4',
 'Impala ss',
 'outback 2.5l wagon',
 'traverse ls sport uti',
 'charger r/t max v8 hemi heated leather navi moon roof 20s',
 '2008 Aaacuurrara Delicious Tuni',
 'range rove sport',
 'rav 4 limited awd',
 'benz glk',
 '51',
 'cooper super s convertible',
 'tundra sr5 double cab 4x2',
 '1927 Roadster',
 'sport v6',
 'optima lx fwd gas sedan auto',
 'mdx tech pkg awd',
 '1500',
 'es350',
 'benz s550',
 'boxster',
 'f-150 platinum',
 'International',
 'van',
 'f450 flatbed dump body',
 'motorcycle',
 'rogue sv awd nav',
 'laramie',
 '5500hd',
 'eclipse cross le awd',
 'rav4 le automatic',
 'sienna base le',
 'miata mx-5',
 'flex limited awd',
 'qx qx56 sport utility',
 'sienna xle 7 passenger',
 'jetta 2.0t gli sedan',
 'g37 coupe',
 'q50 premium awd',
 'sienna limited premium 7',
 '2006 pt cruiser',
 'envoy sle',
 'ISUZU NQR',
 'f-350 landscapers trk w/loading ramp!',
 'tacoma prerunner sr5',
 '2016 Mustang GT',
 'fiesta 2011',
 'sentra sr corolla',
 'benz e55 amg',
 'pu',
 '2003Mercedes SL500',
 'ioniq hybrid',
 'jetta 2.0',
 '1500 yukon denali',
 'lacrosse premium ii sedan',
 'pinto',
 'sr5',
 'yukon denali 4wd',
 'charger daytona 340',
 'c-max energi sel wagon 4d',
 '600cl',
 '640i gran turismo m sports',
 "JREP CJ-5 RENEGADE LEVI'S",
 'cheyenne super',
 'boxster s convertible 2d',
 'tundra double cab grade 4 x 4',
 'wrx limited sedan 4d',
 'f-150 xlt supercrew',
 'rav4 limited aw',
 '"1500 big horn 4x4 crew cab 5\'7"" box"',
 '1500 44',
 'diplomat',
 's60 inscription',
 'sport trac limited 4x4',
 'f-250sd lariatcrew cab',
 'ss',
 '2007 crysler 300',
 '380 series',
 'activehybrid 3',
 'entourage gls',
 'tacoma trd offroad 4wd',
 'pacifica touring l plus',
 'escort se',
 'parisienne',
 'expedition 2004',
 'eclipse cross se',
 'rdx sport awd',
 'taurus sho ecoboost awd',
 'sierra duramax 2500 hd 4x4',
 'm35 sport sedan',
 'f250 sd lariat',
 'silverado c3500',
 '63,701',
 'INTERNATIONAL 7300 BUCKET TRUCK',
 'vue red line',
 'f-350 one owner rust free texas truck',
 'f150 4x4 supercrew lariat',
 '1957',
 'bluebird',
 '2500 w/ plow',
 'pickup 1500 classic big horn',
 'EZ GO RXV EZGO RXV',
 'seirra 1500',
 'amg gle 43',
 'a4 avant quattro 1.8t',
 'Mazda6 I Touring plus',
 'f-350sd xl',
 'f-150 lariat supercrew cab',
 '500 sedan',
 '2001 Plymouth Prowler',
 'chevorlet suburban',
 'd-2500',
 '3500 longhorn megacab diesel',
 'Plymouth Sport Fury',
 'jetta wolfsburg editi',
 'model type 3 fastback',
 'a4 2.0 quattro',
 'MG/DUCHESS',
 'CHEY MALIBU',
 'sedan gasser',
 'SC',
 'civic lx-l',
 'v30',
 'cherokee sport xj',
 'big horn lonestar',
 'tundra ltd. doublecab',
 'forester awd premium',
 'Nissan/Datsun D21',
 'bel air impala',
 'i3 rex (94 amp-hour battery)',
 'CCHEVROLET SILVERADO 2500 HD LT',
 'rolls royce',
 'nitro suv',
 'Scion TC TRD',
 'silverado 3500 ltz lifted duramax z71 ltz',
 'f-150 lariat 4x4 4dr superc',
 '1500 slt 2dr regular cab 4x4 v8 hemi long bed 2 owners',
 'impreza 2.0i premium 5-d',
 'fit sport w/navi 1-owner 5',
 '4runner trail 4x4 mud tir',
 'model s panoramic roof ba',
 'f150 xlt 4x4 pick up',
 '2007 f350 superduty',
 '2017 Mustang GT 5.0 Convertible',
 '1500 crew cab 4wd',
 '250 express',
 'honday odyssey ex-l',
 'golf tdi 2 door',
 '300chrysler 200',
 'aplina b7 lwb',
 'f150 xtr xlt 4x4 half ton',
 'lifted sierra 1500 at4 4x4',
 '1999 international',
 'expedition el platinum',
 'AMC GREMLIN',
 'integra gs',
 'edge sport*awd*ecoboost!!',
 'journey se fwd',
 'colorado 4wd z71 automatic',
 'transit connect cargo',
 'sentra',
 'cx-9',
 'silverado 2500hd',
 'rogue s',
 'quest',
 'cobalt',
 'titan se',
 'mkz',
 'g35',
 'Isuzu DSL REG AT',
 'ridgeline sport pickup 4d',
 'crew cab',
 '2010 wrangler',
 'mustang roush',
 'sonoma sls',
 '350z',
 'cc',
 'dart limited',
 'colorado lt',
 'soul !',
 'nova',
 'smart fortwo',
 'c 36 amg',
 '328i gt xdrive',
 'telluride ex sport utility',
 'integra',
 'express 3500 extended',
 '300c platinum',
 'sequoia platinum sport',
 'c70 convertible',
 'le 250',
 'acadia slt 1 4dr suv',
 'silverado ext cab z71',
 'qx60 luxe',
 'versa s plus sedan 4d',
 'c-max energi se wagon 4d',
 'mazda6 sport sedan 4d',
 'veloster 2.0 premium',
 '1500￼',
 'prius two hatchback',
 'sprinter 350',
 '740',
 '530e',
 'smart fortwo electric drive Pure',
 'explorer limited sport',
 's-10 tahoe',
 '2500 diesel truck 6.7l turbo',
 'falcon',
 'rogue sport s',
 'murano low miles clean',
 'jetta 2000',
 'shelby series 1',
 'transit connect xlt van',
 'davidson fxsb breakout',
 'x5 sdrive 35i',
 'chieftain',
 'cr-v lx suv',
 'oddysey touring edition',
 'dakota quad cab slt',
 'cruze slt',
 'corolla le special',
 'f-450 7.3 l diesel',
 'Kenworth T660',
 'titan le crew cab',
 'passat 1.8t limited',
 'enclave avenir sport',
 'Isuzu NPR Box Truck',
 'bluebird bus',
 'escape 4wd 4dr titanium',
 'f 250 super cab',
 'Tour',
 'promaster 3500 kuv',
 'jetta gl1',
 'atlas cross sport',
 'encore convenience',
 'malibu 2 lt',
 'SUBURBAN  LTZ  5.3L  1 OWNER',
 '328i m-sport coupe',
 'harly-davidson 1200',
 '62 sedan',
 'g20 conversion van',
 'suburban ltz 4x4',
 '1997 UTILITY TRAILER',
 'SCION IA',
 'sonata hybrid base',
 'sierra 3500 denali lifted diesel fully loaded 4x4',
 '3s',
 'cavalier sedan',
 '300-E',
 'transit-250',
 'tiguan 2wdautomatic',
 'expedtion',
 'pacifica limited',
 'gtr',
 'jetta 2007',
 'montana minivan',
 'FREIGHTLINER FL70 CAB & CHASSIS',
 'avalon limted',
 'equinox lt 4 wd',
 'z28 convertible',
 'club wagon xlt',
 'e-350 super duty xlt',
 'corolla 96',
 'f-pace 25t prestige',
 'Honada CR-V AWD',
 '149000',
 'super duty f250',
 'Tesal Model X',
 'tucson sel plus',
 'navigator ultimate ultimate 4dr suv',
 'f-550 southwind',
 'j35',
 'highlander 4wd v6',
 'cooper s. turbo 6 speed',
 'c320 4matic sport',
 'concord',
 'legacy outback limited',
 'envoy xuv awd',
 'benz 300e w124',
 'sienna xle premium awd',
 'silverado 1500 lt automatic',
 'patriot altitude',
 'a8 l 4.2 quattro sedan 4d',
 '2005 Scion TC 2dr Hatchback',
 'yamaha',
 '2500 4 x 4 ext cab',
 '- 16 FT. TRAILER',
 'sentra/s/s',
 'international harvester scout',
 '1990 f 250',
 'f450 super duty flatbed',
 'commercial 5500',
 '380se',
 '544',
 'accord touring coupe',
 'Volvo. All makes',
 '1985 300 ZX',
 'commercial van 1 ton',
 'sho awd',
 'tahoe z71 4wd',
 'f-150 xlt 4x4 fx4',
 'cherokee latitude $259.79 month, $1000 down, 2.9%, 72 months',
 'kodiak/topkick c5500',
 '2500 4x4 quadcab',
 'ud1200 box truck diesel',
 '1500 laramie rmx 4x4',
 'International  pb105',
 'lesabre custom sedan',
 '"mustand svt cobra ""mystic"""',
 'tacoma sr5 trd silverado',
 'a3 etron',
 'Mack DM600',
 'silverado 3500 classic',
 'murano',
 'savana 3500',
 '480l',
 'aveo5 ls',
 'acadia sle awd',
 'durango slt',
 'tacoma trd sport 4x4',
 '1500 slt',
 'tsx',
 'romeo spider quadrifoglio',
 's60 sedan',
 'ct 200h hatchback 4d',
 'ud2000',
 '300 base',
 '4 series 428i convertible 2d',
 'maxima s',
 'x4 xdrive28i sport utility',
 'clubman',
 '645ci convertible',
 'pilot lx',
 'grand caravan gt',
 'e350 box truck',
 'tlx v6 tech',
 'rx350 awd one owner local',
 'a-class',
 'benz ml430',
 'express 2500 cargo shelves and ladder rack',
 'crysler town & country',
 'a5 premium plus coupe 2d',
 'tahoe 4wd ls.',
 'forte 5-door',
 'falcon wagon',
 'a3 2.0t',
 'regal gs turbo',
 'f550 super duty bus',
 'malibe ls',
 'john cooper works',
 'tundra crewmax 4x4 5.7',
 'sport pick up',
 'tiguan s 16,000',
 'malibu lt - rear camera - bluetooth - new tires -',
 'Oldsmobile',
 'genesis coupe 3.8l base',
 'rogue sport s utility 4d',
 'corolla ve 4dr sedan',
 'bronco ll',
 'sprinter cargo van',
 'Willys Pickup 4WD',
 'benz 219',
 'x3 m 3.0si',
 'wrangler rubicon unlimited',
 'lr3 hse',
 'cherokee laredo xj',
 'x3 awd 28i',
 'gta',
 '1500 peterbuilt p/u',

In [30]:
# Fetching only Required Information from Model column and combining manufarure column with model column as new column car_model

df_model=ucd_2.withColumn("model", split(col("model"),"/").getItem(0))
distinct_ids = [x.model for x in df_model.select('model').distinct().collect()]
distinct_ids

['lacrosse',
 'dts',
 '4runner',
 'jetta tdi w',
 'hr-v',
 'cts sedan',
 'transit connect cargo van',
 'charger se',
 'sentra sv',
 'azera',
 'toyta camry',
 '2500 diesel',
 'sonata hybrid',
 'explorer limited 4wd',
 'q40',
 'equinox ltz sport',
 'avalon limited',
 'sentra sr sedan 4d',
 'cherokee trailhawk',
 'hse',
 'caravan se',
 'silverado 2500 work truck dump bed!',
 'journey se sport utility',
 'savana cargo 2500 3dr',
 'aerostar',
 'passat 2.0l turbo cc',
 'r 320 cdi',
 'All makes and Models',
 'pontaic firebird',
 'range evoque hse',
 'cheyenne',
 'Inifniti G37',
 '27 Bugatti',
 'xk8',
 'journey 75,000 miles 7',
 'cls63 amg',
 'Isuzu trooper limited',
 'sierra 3500 utility',
 'TOYOTA, PRERUNNER V6 TACOMA',
 'benz 300sl',
 'ls 460l',
 'Manual AWD',
 'xc60 t6 momentum sport',
 'verano base',
 'F-100 Custom Cab',
 'a4 2.0t premium plus awd',
 'crv lx awd',
 'benz s320 lwb',
 'silverado 1500 4x4 4dr kc',
 'borrego',
 'montego premier',
 'f 250 xlt crew cab',
 'eclipse gs',
 'passat cc r-line',
 'suzuki carry truck',
 'BENTLEY MULSANNE',
 'ls 250',
 'silverado 3500 ltz',
 'mdx fwd with technology package automatic',
 'f-350 super duty king ranch - crew cab - 4x4 - 8ft lb - diesel',
 'pacifica hybrid tourin',
 'f150 ecoboost 4x4',
 'silverado durmax 2500',
 'POLARIS RANGER RZR 900',
 'tundra sr5 v8',
 'focus sport ses',
 'ls 600h l sedan hybrid',
 'journey awd lux',
 'monte',
 '1500 slt big horn',
 'lancer hatchback',
 'K',
 'lacrosse super',
 'f-350 4x4 ext cab',
 'rogue special edition',
 'e150 conv. van',
 'crv exl-awd 30mpg',
 'geo prizm lsi',
 'new compass limited',
 'DLM Transit Camper Van',
 '1500 bighorn 4x4',
 'lierty',
 '4 door denali',
 'town &country ltd',
 '2001 crown vic',
 'cl200',
 'jetta tdi sel',
 '3500 dually big horn',
 'G35 Sedan 6 MT',
 's10 xtreme',
 'mustang gtcs',
 'f350 manual',
 'q3 q5 q7 a3 a4 a5 a6 a7',
 'LT',
 'mercedez benz',
 '5500 chassis',
 'tc7500',
 'Oreion Reeper',
 '1994 Mustang GT Convertible',
 'Sherman+%2B+Reilly Camaro',
 'f150 4x4 xtra cab stx cobra',
 'sonta',
 'l-179',
 'protege5 sport wagon #26',
 'f-150 lariat supercrew 4x4',
 'camry le fwd',
 'i3 94ah w',
 '4runner limited 4x4, v8',
 'golf tsi s wolfsburg',
 'x3 xdrive28i awd only 64k leather pano 2 owners',
 'spark 1lt cvt',
 'q7 premium plus virtual co',
 "tacoma sr5 double cab 5'",
 'grand cherokee sport 1-owne',
 'sierra sle 2500',
 'utility body',
 'benz gl 450',
 'e-350 contractor van',
 'mirage g4 le',
 'Sprint car',
 'Freightliner Columbia Day Cab',
 'fx35 base',
 '328 ci',
 'Chevrolet-3 OWNER CARFAX CLEAN! Malibu-33 MPH HWY',
 'pirus c',
 'volkwagen jetta',
 '2500 lifted',
 '2016 z71 4x4 1500 lt',
 'Mustang gt premium pp',
 'corvette convertable',
 'sonic lt sedn',
 'acadia sle-2 6-speed automatic',
 'edge limited fwd 6-speed automatic',
 'fit sport 5-speed at',
 'camaro ss rwd gas',
 'silverado 2500hd built',
 'eclipse cross sel',
 'f150 raptor pickup 4wd',
 'RJ trailer',
 'accord lx-p sedan 4dr',
 'sonoma zr5',
 'slk 300',
 '2014 Corvette Stingray Z51',
 'lifted titan sv 4x4 gas',
 'f-750',
 'verano',
 '2008 scion xb',
 's60 r',
 'fiesta se hatchback',
 'x4 m-sport awd',
 'outback premium automatic',
 'eclipse cross se awd',
 'sequioa',
 'cr-v lx 4wd',
 'is 250 sedan 4d',
 'venza awd v6 wagon',
 '1500 express',
 'Hummer H1',
 'f-250 super duty lariat 4x4',
 'highlander hybrid limited',
 'elantra gls sedan 4d',
 'civic cng',
 'crv ex awd',
 'sonic 2lt hatchback',
 'outlander xls',
 'impreza 2.0i sport',
 'benz c230',
 '85 Rolls-Royce Spirit',
 'lesabre limited',
 '2500 big horn crew cab 4x4',
 '1500 slt quad cab sb',
 'sienna se minivan 4d',
 'rio 5-door',
 'Willys Sedan',
 'rc 200t',
 '528xi awd 1 owner 88,000',
 '4 series 440i coupe 2d',
 '2 series m235i',
 'fsuperduty',
 'f250 4x4 platinum',
 'corolla le - new tires - low mileage-',
 'f-150 xl - rear camera - bluetooth - recently smog',
 'm m35x sedan 4d',
 'tiguan wolfsburg edition',
 'cheyenne 2500',
 'e350 cargo van',
 'sr5 pickup',
 'rav4 4wd',
 'corvette 2dr grand',
 'mbz c300 cabriolet',
 'camry corolla yaris',
 'genesis 5.0 r-spec sedan',
 'bel air hardtop',
 'mazda3 s grand touring',
 'sterling lt9500',
 'g35x sedan',
 '944',
 'police interceptor utility',
 'xj coupe',
 'silverado 1500ls 4x4',
 'camry hybrid xle sedan 4',
 'sierra silverado 1500',
 'grand marquise leather',
 'cooper clubman hatchback',
 'corolla s 2013',
 'e350 versalift bucket',
 'corvette 2dr cpe',
 'any and all',
 'maserati ghibli s q4',
 'expedition eddie bauer 2wd',
 'sonata sel',
 'avenger se sedan',
 'KIAL SOUL',
 '280 sl',
 'f150 lariat 4x4',
 'benz clk430',
 'benz cl500 coupe',
 '2002 Camaro 35th Anniversary',
 'sprinter diesel cargo van',
 '1955 Willys cj5',
 'express passenger 3500',
 'highlander xle awd',
 'envoy slt 4x4',
 'q5 premium plus quattro awd',
 'gto coupe 6-speed manual',
 'odyssey van',
 'cooper coupe',
 '2011Chevy Cruze LT',
 'Freightliner M-2 Knuckle Boom Truck',
 '3500 laramie 4x4',
 'international dump truck',
 'element ex at',
 '2000 freightliner',
 '4-runner sr5',
 'silverado ls z71',
 '3500 hd 4x4',
 'impreza hatch',
 'mkz luxury hybrid',
 'bronco ii eddie bower',
 'terrain sle-1 awd',
 'e-350 1 ton custom',
 'Willys Jeepster Phaeton',
 'CAMARO',
 '1985 Mustang GT',
 'impreza premium pzev',
 '550xi awd m series',
 'q5 tech premium 4wd',
 '2002 F-250',
 'silverado 2500 ltz z71',
 'bunn buggy',
 'ADVANCED 2+2',
 'xc60 t6 premier plus',
 'soul +wagon 4d',
 '1500 slt 4x4 hemi',
 'clk 240 4matic',
 'KarmannGhia Cabrioket',
 'outback 2.5i ltd.',
 'Volkswagon Jetta',
 'sienna l 7',
 'civic sport hatchback 4d',
 '2011 nissian frontier sv',
 'camry se 4cyl',
 'yukon xl denali v8 awd',
 'f-150 xl 4x4 supercab',
 '3500 cummins diesel',
 'escape 4',
 's60 t6 momentum',
 'civic 4dr cvt ex-l w',
 'Freightliner MT-55',
 'sonata se 2.0t',
 'sport sup',
 'elantra gls sedan 2011',
 'tundra sr5! 4x4! low mile',
 'navigator￼',
 'accord hybrid ex',
 'x1 xdrive28i head-up displa',
 'e-class e350 sedan',
 'c t s',
 'isuzu nnr',
 'vue i4 auto',
 'CHEVELLE',
 'conversion 1500',
 '6 series 650i gran coupe 4d',
 'equinox premier automatic',
 'c350',
 'f250 fx4 king ranch',
 'International CE105',
 'camry 2011',
 'amg g 63',
 'fusion s hybrid sedan 4d',
 'MADA CX-5',
 'f-100 custom cab',
 'versa ls',
 'gl350 4matic awd b',
 'mazada mx6',
 'Miniature Firetruck',
 's70 turbo',
 'tlx 2.4l w',
 'k10pu',
 '800',
 'oldsmobile cutlass convertible',
 'mustang gt h&r lowerin',
 'cayenne exsuv',
 'f-150 4wd',
 'forester premium 2.5x awd',
 'School Bus',
 '2500 crew cab diesel',
 'x3 xdrive35i heads up displ',
 'escape titanium',
 'silverado 2500hd 2500 hd',
 'express 1500',
 '2009 INTERNATIONAL',
 'ranger lariat',
 'Srx',
 'Psion XB',
 'durango crew',
 'mkt',
 'srx luxury awd',
 'volt hatchback',
 'corolla le eco',
 'viper',
 'mustang 2dr fastback gt',
 'f350 king ranch',
 '2500 crew cab tradesman',
 'x3 xdrive28i sport utility',
 'Volkswagen',
 'suzuki reno',
 'grand cherokee altitude 4x4',
 'tiguan s 4motion',
 'e350 xl hightop wheelchair',
 'f-250 superduty lariat',
 'xts premium collection',
 'checy silverado',
 'yaris l hatchback sedan',
 'corvette z06',
 '3.2 tl',
 'galaxie convertible',
 'ct',
 'prius v five',
 '1500 quad cab tradesman',
 'vue awd',
 'Accessible PT Cruiser',
 'es350 one owner',
 '2004 sentra',
 '4runner sr5 edition',
 "3500 high roof 10'6 - lift gate -",
 'pathfinder 4×4',
 'benz 450 sl',
 'accord touring',
 'mdx w',
 'f-250 ext-cab',
 'hse td6',
 'rdx sh-awd a-spec',
 'cherokee t5 premier',
 'Scion xB 5dr Wgn Man (Natl)',
 'civic 2008',
 'ss impala',
 'srx v8',
 'Lance 8000',
 'm45x',
 'f-350 super duty xlt',
 'eclipse spyder gts',
 'Winnebago warrior',
 'ridgeline rtl e',
 'SAAB 9-2X 2.5I',
 'oldsmobile cutlass ciera',
 's40 2.4 premium pkg.',
 'concours',
 'Peterbilt 579',
 '1968 camaro  restomod',
 'ats 3.6l 94k clean',
 'f 250 xlt fx4',
 'corvette 3lt',
 'f150 lariat 4wd f-150',
 'tacoma lx',
 'm3 coupe',
 'mack vision',
 '2007 camry le',
 'e350 super duty shuttle',
 'ranger regular cab',
 'tundra limited 4dr',
 'challenger r t',
 'stinger base rwd',
 'tacoma double ab',
 'sierra 3500hd available',
 'f25o superduty xlt',
 'aspen awd 3rd row',
 'Chvey sonic LT',
 'escape xlt fwd',
 'f250 diesel powerstroke xlt',
 "HINO 268A 26' BOX TRUCK",
 'All Makes',
 'x5m',
 'element lx awd',
 'pathfinder 4wdle',
 'g wagon w463 model',
 'tle',
 'rav-4 limited awd',
 'SENTRA 1.6 SR TURBO CVT',
 '2500 express cargo van',
 'International 2674',
 'silverado lt 2500hd',
 'SAJWA2GB3CLV27609',
 'Scion xB Wheelchair Van',
 'lacrosse essence',
 'g6 se1',
 'Freightliner M2 106 Medium Duty',
 'pilot ex l 4dr 4wd suv w',
 'f-150 xlt crew cab short b',
 '1989 cherokee',
 'promaster city tradesman slt',
 'ml500 4matic',
 'civic lx sedan 5-speed at',
 'tribute 4x4',
 'f350 crew',
 '1999 Blue Bird',
 '2500 lst laramie',
 'Hynday Sonata GLS',
 'sonic - rs',
 'national 400b series 446b 10 ton hydraulic crane',
 '2015 Taurus SHO',
 'xv crosstrek premium awd',
 '1997 f250',
 'benz sl 500',
 'premiere',
 '340i x-drive',
 '458 italia',
 'fleetwood limosoine',
 '1500 mega cab slt',
 'f600 flatbed dump',
 'vandura',
 'evoque pure plus only 40k heated leather pano roof mint',
 '4w a6',
 'cr-v awd 5dr ex-l',
 '3200',
 'f2',
 'Camaro 2SS',
 'vnl64t730',
 'f150 with utility top',
 'ALL BRNADS',
 'f350 flatbed',
 'titan 2wd crew cab swb x',
 'sierra crew cab',
 'chevrolrt colorado',
 'lancer ralliart awd',
 'dakota sl',
 'dakota ex 4x4 st',
 '1995 corvette',
 'rio sd 4-d sedan',
 'avalanche ltz 4x4 4dr',
 'f-350 lifted-wheels & tires',
 'focus wagon ses',
 'outdoorsman 2500',
 'maserati ghibli sq4',
 'f-150 xlt*4wd*leather*back',
 'liberty sport 4dr sport',
 'savana explorer limited se',
 'soul 4 dr hatch',
 'escape titanium 4d sport utility automatic',
 'tacoma v6 4.0 l ',
 'sportage',
 'suburban lt',
 'pacifica',
 'is 250 awd nav',
 '328d',
 'astro cargo van',
 'odyssey elite',
 'forester 2.5i touring',
 'clk-class',
 'f-250 crew cab lariat 4x4 6.7 power stroke turbo diesel',
 'F-350 turbo diesel',
 '4runner leveled sr5 3rd row seat 4x4 4.0 liter 270 hp v6',
 'Olds Cutlass Supreme',
 'pao',
 'ls 460 l',
 '7.3',
 'rio sedan 4 door',
 'tundra double cab',
 'murano sv',
 'f-350 diesel 4x4 7.3l power stroke turbo diesel crew cab short bed',
 "Willy's overland 1962",
 'passat 2.5l s sedan',
 'mercedes-amg gle',
 'jimmy sle',
 'grand cherokee laredo sport',
 'durango citadel sport',
 'PLYMOUTH PROWLER',
 'tacoma trd pro',
 'e-series cargo e-150',
 'a5 2.0t quattro premium plus',
 'Sterling L9500',
 'outback touring',
 'es300h',
 'a5 2.0t premium plus coupe',
 'genesis 5.0l',
 's60 2.4t',
 '911 carrera 991.2 pse pdls w. techart kit',
 '2002 FOR TAURS',
 'grad prix gtp',
 '3500 crew cab lwb slt',
 'ranger xrt',
 'altima 2.5 sv sedan 4d',
 'elantra sport sedan 4d',
 'e350 cutaway',
 'malibu rs sedan 4d',
 '3500 tradesman dually 4x4',
 'bel air convertible',
 '300zx convertible',
 'FOUR WINDS CLASSIC RV TOY',
 'fi50 fx2',
 'hino 268',
 'cx-3 grand touring',
 'mr2 spyder convertible',
 '2003 International9100i',
 'hr-v ex-l',
 'prius hybrid 3',
 'scion xd corolla',
 '300c srt-8 2wd',
 'c10 stepside',
 'eclipse cross sp',
 'camaro w',
 'Customline.  Ford.',
 'explorer xlt 4x4 gas suv',
 'gs 350 awd sport package',
 'fj cruiser sr 4x4 gas',
 'savana 3500 box cutaway',
 'sierra diesel durmax 1500',
 'r320',
 'rogue sl fwd 2010',
 'f6',
 'suburban 2500 lt',
 'acadia limited fwd',
 'rogue s fwd',
 '2011 Mustang convertible',
 'f150 xlt xtra cab 4x4',
 'taho lt 4x4',
 'mx-5 miata roadster',
 'Jerp Renegade',
 'f150 supercrew 4x4 xlt',
 'JEPP LAREDO 4X4',
 'n600',
 'gx350l',
 'solstive convertible',
 'xg 350',
 'Saleen truck',
 'edge st awd',
 '750i xdrive m sport package',
 'Freestyle Third row seating',
 'c280 awd',
 'International C96',
 'Vespe 400',
 'express conversion van',
 '1996 suburu legecy',
 'sonata sel sedan 4d',
 'g-1500',
 '1958 bentley s1',
 'fuso fe639',
 'e-350 super duty-xlt',
 'sts 4',
 'e350 ext pass van',
 'e250 wheelchair van',
 'stake bed',
 '1500 crew longhorn 4x4',
 'Impala ss',
 'outback 2.5l wagon',
 'traverse ls sport uti',
 '2008 Aaacuurrara Delicious Tuni',
 'range rove sport',
 'rav 4 limited awd',
 'benz glk',
 '51',
 'cooper super s convertible',
 'tundra sr5 double cab 4x2',
 '1927 Roadster',
 'sport v6',
 'optima lx fwd gas sedan auto',
 'mdx tech pkg awd',
 '1500',
 'es350',
 'benz s550',
 'boxster',
 'f-150 platinum',
 'International',
 'van',
 'f450 flatbed dump body',
 'motorcycle',
 'rogue sv awd nav',
 'laramie',
 '5500hd',
 'eclipse cross le awd',
 'rav4 le automatic',
 'ss',
 'sienna base le',
 'miata mx-5',
 'flex limited awd',
 'qx qx56 sport utility',
 'sienna xle 7 passenger',
 'jetta 2.0t gli sedan',
 'g37 coupe',
 'q50 premium awd',
 'sienna limited premium 7',
 '2006 pt cruiser',
 'envoy sle',
 'ISUZU NQR',
 'tacoma prerunner sr5',
 '2016 Mustang GT',
 'fiesta 2011',
 'sentra sr corolla',
 'benz e55 amg',
 'pu',
 '2003Mercedes SL500',
 'ioniq hybrid',
 'jetta 2.0',
 '1500 yukon denali',
 'lacrosse premium ii sedan',
 'pinto',
 'sr5',
 'yukon denali 4wd',
 'charger daytona 340',
 'c-max energi sel wagon 4d',
 '600cl',
 '640i gran turismo m sports',
 "JREP CJ-5 RENEGADE LEVI'S",
 'cheyenne super',
 'boxster s convertible 2d',
 'tundra double cab grade 4 x 4',
 'wrx limited sedan 4d',
 'f-150 xlt supercrew',
 'rav4 limited aw',
 '"1500 big horn 4x4 crew cab 5\'7"" box"',
 '1500 44',
 'diplomat',
 's60 inscription',
 'sport trac limited 4x4',
 'f-250sd lariatcrew cab',
 '2007 crysler 300',
 '380 series',
 'activehybrid 3',
 'entourage gls',
 'tacoma trd offroad 4wd',
 'pacifica touring l plus',
 'escort se',
 'parisienne',
 'expedition 2004',
 'eclipse cross se',
 'rdx sport awd',
 'taurus sho ecoboost awd',
 'sierra duramax 2500 hd 4x4',
 'm35 sport sedan',
 'f250 sd lariat',
 'silverado c3500',
 '63,701',
 'INTERNATIONAL 7300 BUCKET TRUCK',
 'vue red line',
 'f-350 one owner rust free texas truck',
 'f150 4x4 supercrew lariat',
 '1957',
 'bluebird',
 'pickup 1500 classic big horn',
 'EZ GO RXV EZGO RXV',
 'seirra 1500',
 'amg gle 43',
 'a4 avant quattro 1.8t',
 'Mazda6 I Touring plus',
 'f-350sd xl',
 'f-150 lariat supercrew cab',
 '500 sedan',
 '2001 Plymouth Prowler',
 'chevorlet suburban',
 'd-2500',
 '3500 longhorn megacab diesel',
 'Plymouth Sport Fury',
 'jetta wolfsburg editi',
 'model type 3 fastback',
 'a4 2.0 quattro',
 'CHEY MALIBU',
 'sedan gasser',
 'SC',
 'civic lx-l',
 'v30',
 'cherokee sport xj',
 'big horn lonestar',
 'tundra ltd. doublecab',
 'forester awd premium',
 'bel air impala',
 'i3 rex (94 amp-hour battery)',
 'CCHEVROLET SILVERADO 2500 HD LT',
 'rolls royce',
 'nitro suv',
 'Scion TC TRD',
 'silverado 3500 ltz lifted duramax z71 ltz',
 'f-150 lariat 4x4 4dr superc',
 '1500 slt 2dr regular cab 4x4 v8 hemi long bed 2 owners',
 'impreza 2.0i premium 5-d',
 '4runner trail 4x4 mud tir',
 'model s panoramic roof ba',
 'f150 xlt 4x4 pick up',
 '2007 f350 superduty',
 '2017 Mustang GT 5.0 Convertible',
 '1500 crew cab 4wd',
 '250 express',
 'honday odyssey ex-l',
 'golf tdi 2 door',
 '300chrysler 200',
 'aplina b7 lwb',
 'f150 xtr xlt 4x4 half ton',
 'lifted sierra 1500 at4 4x4',
 '1999 international',
 'expedition el platinum',
 'AMC GREMLIN',
 'integra gs',
 'edge sport*awd*ecoboost!!',
 'journey se fwd',
 'colorado 4wd z71 automatic',
 'transit connect cargo',
 'sentra',
 'cx-9',
 'silverado 2500hd',
 'rogue s',
 'quest',
 'cobalt',
 'titan se',
 'mkz',
 'g35',
 'Isuzu DSL REG AT',
 'ridgeline sport pickup 4d',
 'crew cab',
 '2010 wrangler',
 'mustang roush',
 'sonoma sls',
 '350z',
 'cc',
 'dart limited',
 'colorado lt',
 'soul !',
 'nova',
 'smart fortwo',
 'c 36 amg',
 '328i gt xdrive',
 'telluride ex sport utility',
 'integra',
 'express 3500 extended',
 '300c platinum',
 'sequoia platinum sport',
 'c70 convertible',
 'le 250',
 'acadia slt 1 4dr suv',
 'silverado ext cab z71',
 'qx60 luxe',
 'versa s plus sedan 4d',
 'c-max energi se wagon 4d',
 'mazda6 sport sedan 4d',
 'veloster 2.0 premium',
 '1500￼',
 'prius two hatchback',
 'sprinter 350',
 '740',
 '530e',
 'smart fortwo electric drive Pure',
 'explorer limited sport',
 's-10 tahoe',
 '2500 diesel truck 6.7l turbo',
 'falcon',
 'rogue sport s',
 'murano low miles clean',
 'jetta 2000',
 'shelby series 1',
 'transit connect xlt van',
 'davidson fxsb breakout',
 'x5 sdrive 35i',
 'chieftain',
 'cr-v lx suv',
 'oddysey touring edition',
 'dakota quad cab slt',
 'cruze slt',
 'corolla le special',
 'f-450 7.3 l diesel',
 'Kenworth T660',
 'titan le crew cab',
 'passat 1.8t limited',
 'enclave avenir sport',
 'Isuzu NPR Box Truck',
 'bluebird bus',
 'escape 4wd 4dr titanium',
 'f 250 super cab',
 'Tour',
 'promaster 3500 kuv',
 'jetta gl1',
 'atlas cross sport',
 'encore convenience',
 'malibu 2 lt',
 'SUBURBAN  LTZ  5.3L  1 OWNER',
 '328i m-sport coupe',
 'harly-davidson 1200',
 '62 sedan',
 'g20 conversion van',
 'suburban ltz 4x4',
 '1997 UTILITY TRAILER',
 'SCION IA',
 'sonata hybrid base',
 'sierra 3500 denali lifted diesel fully loaded 4x4',
 '3s',
 'cavalier sedan',
 '300-E',
 'transit-250',
 'tiguan 2wdautomatic',
 'expedtion',
 'pacifica limited',
 'gtr',
 'jetta 2007',
 'montana minivan',
 'FREIGHTLINER FL70 CAB & CHASSIS',
 'avalon limted',
 'equinox lt 4 wd',
 'z28 convertible',
 'club wagon xlt',
 'e-350 super duty xlt',
 'corolla 96',
 'f-pace 25t prestige',
 'Honada CR-V AWD',
 '149000',
 'super duty f250',
 'Tesal Model X',
 'tucson sel plus',
 'navigator ultimate ultimate 4dr suv',
 'f-550 southwind',
 'j35',
 'highlander 4wd v6',
 'cooper s. turbo 6 speed',
 'c320 4matic sport',
 'concord',
 'legacy outback limited',
 'envoy xuv awd',
 'benz 300e w124',
 'sienna xle premium awd',
 'silverado 1500 lt automatic',
 'patriot altitude',
 'a8 l 4.2 quattro sedan 4d',
 '2005 Scion TC 2dr Hatchback',
 'yamaha',
 '2500 4 x 4 ext cab',
 '- 16 FT. TRAILER',
 'international harvester scout',
 '1990 f 250',
 'f450 super duty flatbed',
 'commercial 5500',
 '380se',
 '544',
 'accord touring coupe',
 'Volvo. All makes',
 '1985 300 ZX',
 'commercial van 1 ton',
 'sho awd',
 'tahoe z71 4wd',
 'f-150 xlt 4x4 fx4',
 'cherokee latitude $259.79 month, $1000 down, 2.9%, 72 months',
 '2500 4x4 quadcab',
 'ud1200 box truck diesel',
 '1500 laramie rmx 4x4',
 'International  pb105',
 'lesabre custom sedan',
 '"mustand svt cobra ""mystic"""',
 'tacoma sr5 trd silverado',
 'a3 etron',
 'Mack DM600',
 'silverado 3500 classic',
 'murano',
 'savana 3500',
 '480l',
 'aveo5 ls',
 'acadia sle awd',
 'durango slt',
 'tacoma trd sport 4x4',
 '1500 slt',
 'tsx',
 'romeo spider quadrifoglio',
 's60 sedan',
 'ct 200h hatchback 4d',
 'ud2000',
 '300 base',
 '4 series 428i convertible 2d',
 'maxima s',
 'x4 xdrive28i sport utility',
 'clubman',
 '645ci convertible',
 'pilot lx',
 'grand caravan gt',
 'e350 box truck',
 'tlx v6 tech',
 'rx350 awd one owner local',
 'a-class',
 'benz ml430',
 'express 2500 cargo shelves and ladder rack',
 'crysler town & country',
 'a5 premium plus coupe 2d',
 'tahoe 4wd ls.',
 'forte 5-door',
 'falcon wagon',
 'a3 2.0t',
 'regal gs turbo',
 'f550 super duty bus',
 'malibe ls',
 'john cooper works',
 'tundra crewmax 4x4 5.7',
 'sport pick up',
 'tiguan s 16,000',
 'malibu lt - rear camera - bluetooth - new tires -',
 'Oldsmobile',
 'genesis coupe 3.8l base',
 'rogue sport s utility 4d',
 'corolla ve 4dr sedan',
 'bronco ll',
 'sprinter cargo van',
 'Willys Pickup 4WD',
 'benz 219',
 'x3 m 3.0si',
 'wrangler rubicon unlimited',
 'lr3 hse',
 'cherokee laredo xj',
 'x3 awd 28i',
 'gta',
 '2007 BUIC LACROSSE',
 'plymouth special deluxe',
 'soul $6700 otd',
 'aura xe v6',
 'camaro iroc-z',
 '2015  F-350  PLATINUM  4WD  6.7L',
 'Jaugar XJ8',
 'journey crossroad fwd',
 '328i gt x-drive',
 'ion sedan',
 'altima maxed out sv all',
 'lifted 4runner trd 4x4',
 'escalade luxury esv 4x4',
 'TOWN & COUNTRY TOURING PLUS',
 'riviera gs',
 'silverado 1500 lt2 4x4',
 'v50 wagon',
 'AND UP',
 'yukon xl sle 1500',
 'silverado 2500 ltz 4x4',
 'ats4 awd',
 'grand cherokee 4wd',
 'sunfire gt',

In [31]:
df_model=df_model.withColumn("model", split(col("model")," ").getItem(0))

distinct_ids = [x.model for x in df_model.select('model').distinct().collect()]
distinct_ids

['4runner',
 'lacrosse',
 'monte',
 'dts',
 'hr-v',
 'azera',
 'borrego',
 'q40',
 'hse',
 'trail',
 'aerostar',
 'cheyenne',
 'xk8',
 '07',
 'vanden',
 'K',
 '2011Chevy',
 'lierty',
 'LT',
 'sonta',
 'cl200',
 'ecape',
 '"thunderbird',
 'tc7500',
 'Toyoyta',
 'l-179',
 'v1500',
 'f-750',
 'verano',
 'sequioa',
 'STUDEBAKER',
 'c350',
 'fsuperduty',
 '944',
 'rolls',
 'Fia',
 'CAMARO',
 'chryler',
 'lmtv',
 '220s',
 'Avanti',
 'navigator￼',
 'isusu',
 'CHEVELLE',
 'k10pu',
 '800',
 'c-30',
 'ct',
 'Srx',
 'mkt',
 'viper',
 'Volkswagen',
 'hinda',
 'vandura',
 'm45x',
 'concours',
 'SUBURU',
 'WHEELCHAIR',
 'Sunbeam',
 'x5m',
 'tle',
 'SAJWA2GB3CLV27609',
 'e24',
 'spectrum,',
 'premiere',
 'hyuandai',
 'CCHEVROLET',
 '3200',
 'f2',
 'vnl64t730',
 'ESCALADE',
 'vtx',
 'VOLSKWAGEN',
 'sportage',
 'pacifica',
 '7',
 '328d',
 'clk-class',
 'es300h',
 '124',
 'pao',
 '7.3',
 '1953',
 'Subary',
 'Hoda',
 'r320',
 'f6',
 'n600',
 'gx350l',
 'g-1500',
 'tires',
 'cheroke',
 'Econoline',
 '51',
 'INFINITIE',
 'saratoga',
 '1500',
 'International',
 'es350',
 'boxster',
 'van',
 'motorcycle',
 'laramie',
 '5500hd',
 'ss',
 '1957',
 'ct5',
 'bluebird',
 'pu',
 'pinto',
 '718',
 'sr5',
 '600cl',
 'diplomat',
 'parisienne',
 '63,701',
 'IC',
 'Mercy',
 'JEEPSTER',
 'e-3500',
 'd-2500',
 'SC',
 'v30',
 'POLAMINO',
 'Mercedes-Benzes',
 'sentra',
 'cx-9',
 'quest',
 'cc',
 'g35',
 'cobalt',
 'mkz',
 '350z',
 'nova',
 'falcon',
 'integra',
 '"4runner',
 '1500￼',
 'spartan',
 '740',
 '530e',
 '1987',
 'yamaha',
 'chieftain',
 '3s',
 'Tour',
 'transit-250',
 'gtr',
 '300-E',
 'expedtion',
 'concord',
 'One',
 'bwm',
 'Olsmobile',
 'jeepgrand',
 '149000',
 'j35',
 'cheyanne',
 '380se',
 '544',
 '"300',
 'murano',
 'Sterling',
 '480l',
 'cr',
 'tsx',
 'Graham',
 'Oldsmobile',
 'clubman',
 'ud2000',
 'a-class',
 'Cutlass',
 '1956',
 'l',
 'gta',
 'SILVERADO',
 's65',
 'runabout',
 'Hudson-Essex',
 'nvp',
 'Sl',
 'merkur',
 'traiilblazer',
 'ls-v8',
 'cheverlot',
 '325cic',
 'f-850',
 'Merceds',
 'OLVO',
 'MR2',
 'ChevyAstro',
 'civic,ex-t',
 'dart',
 'cx-5',
 '325i',
 'odessy',
 'corevette',
 'SPORTS',
 'chrisler',
 'FOCUS',
 'priusv',
 'woodie',
 'Freighliner',
 'g5',
 'E350*',
 'Federal',
 'w200',
 'Race',
 '15',
 'g37xs',
 'G.m.c.',
 'Hinda',
 'town+and+country',
 'Chevrvolet',
 'turus',
 '"trailblazer',
 'CHECROLET',
 'Ca',
 'altima',
 'hs250',
 '318i',
 'mountaineer',
 'astro',
 'c70',
 '2016',
 '1936',
 'VOLKWAGEN',
 'Camry',
 'supra',
 'caddilac',
 'Shifter',
 '113715',
 'Audit',
 'clk-350',
 '940',
 'F100',
 'H6',
 'cs70',
 'Damon',
 'implala',
 '166273',
 'fe-160',
 '1FMCU931X8KB34262',
 '635',
 'Toytota',
 'SKI',
 'extra',
 'FLT',
 'avio',
 'slc',
 'wildcat',
 'glb',
 'is-350',
 '300zxtt',
 'PLATINUM',
 'Kubota',
 '-s10',
 'Pierce-Arrow',
 'silveraodo',
 'cailber',
 'regal',
 'vnl',
 '200',
 'sequoia',
 '2dr',
 'x',
 '2020',
 'silverado1500hd',
 '2012',
 'montego',
 'amg',
 'g37s',
 'interceptor',
 'Suburu',
 'e-550',
 '428',
 'camrysolara',
 '300sd',
 'CALL',
 '6-i',
 'KIS',
 'bunn',
 'Lincoln,',
 'Kit',
 'amg,',
 '3-350',
 'minicooper',
 '521',
 'GOLF',
 '625',
 'Rogur',
 '139000',
 'seq',
 'gls',
 'ps',
 'frontieri',
 'c5c042',
 'Niassian',
 'milanmilan',
 'BMWi',
 'HANDICAP',
 'imala',
 'sierra1500',
 '535ix',
 'impreze',
 'comopass',
 'sion',
 '1958',
 'aerosedan',
 'D21',
 'Keystone',
 'rx450',
 'Carrera',
 'VOLOV',
 'f650',
 '350zenthusiast',
 'ihc',
 'c240',
 'Linclon',
 'sw2',
 '280se',
 'martin',
 'cj5a',
 'arteon',
 'brougham',
 'Hatchback',
 'b9',
 'SUBURBAN',
 'MERCDES',
 'Inernational',
 'LUXURY',
 '2GKFLTEK0C6378591',
 'Nin',
 'leather',
 'prism',
 'odysseyex',
 'marineer,premier',
 'High',
 'flagstaff',
 'f150xlt',
 'mk7',
 'aspire',
 'motorhome',
 'landcuiser',
 'CHYSLER',
 'discovery',
 'eleantra',
 'MazdaTribute',
 'cl',
 '323',
 'Autocar',
 '154441',
 'infinite',
 'AURA',
 '387',
 'SUPERDUTY',
 'VOLKSWAGENTIGUAN',
 'Outback',
 '750il',
 'clse',
 'bmw323i',
 'mustsng',
 'mark4',
 'element',
 's6',
 'nossan',
 'lucrene',
 'AM',
 'LAMBORGHINI',
 '760li',
 'imperial',
 'crowne',
 'GMS',
 '69',
 '300-',
 '110000',
 'Truxedo',
 'SENTRA',
 'p71',
 't350',
 'PIERCE',
 'Switch',
 'genisis',
 'Scion-AUTO!',
 'D100',
 'i3',
 '500c',
 'inpala',
 'hyundia',
 'firbird',
 'Springdale',
 'lacross',
 'deisel',
 'l200',
 'cls500',
 'Cad',
 'mbz',
 '325ix',
 'HONDAY',
 '188,100',
 'doge',
 'g55',
 'Chysler',
 '3.5rl',
 'Chovrolet',
 'Mercoury',
 'cheverlet',
 'Track',
 'cosmo',
 'RESTHAVEN',
 'Fiat500x',
 'spark,',
 'thunderbird',
 'sl',
 '626',
 'baja',
 'cts4',
 'transit-350',
 'Hiunday',
 'del',
 'sportwagen',
 '"sierra',
 '73',
 'xl',
 'Foed',
 'j20',
 'supercab',
 '2011TOYOTA',
 'Golf',
 'slt',
 'slc-class',
 'savan',
 'Flatbed',
 'tacome',
 'touring',
 'transporter',
 '635csi',
 '"f-250',
 'AUDU',
 'xlh1200',
 'colt',
 'patriot',
 'g',
 'geo',
 'cube',
 'FREIGHTLINER',
 'ALL',
 'BLACK',
 'autobiography',
 'special',
 '640i',
 'ls460l',
 '308',
 'Jaguar,',
 'mistubishi',
 'Subara',
 'Forester',
 '1972',
 'COROLLA',
 'c-7500',
 'flstfb',
 '356',
 'Toyato',
 'S550',
 'Kenwood',
 'volts',
 'delux',
 'afari',
 'f259',
 'Laredo',
 'transit',
 '3',
 'highlander',
 'qx60',
 'rx8',
 'tracker',
 '1931',
 'Chevelle',
 'xj8',
 'Yukon',
 '5000',
 '650xi',
 'STERLING',
 'westfalia',
 'Mercedez',
 'malibe',
 '"12',
 '3-window',
 'willys-overland',
 'c60',
 'Chevolet',
 'estate',
 'Sabaru',
 'Avalanche',
 'sonanta',
 'VARIETY',
 'laguna',
 'Flex',
 'C250',
 'mustangs',
 'cc4500',
 'rx',
 'pathfinder',
 '280z',
 '300m',
 'venture',
 '560sl',
 'Cherokee',
 'astra',
 '944s',
 'challenger,cpe',
 'chr',
 'Panoz',
 's-80',
 'Jaugar',
 'seltos',
 'ssk-gazelle',
 'Homemade',
 '30',
 'cv',
 'acruze',
 'altama',
 'FREIGTLINER',
 'Flxible',
 'S10',
 'caliber',
 'Excalibur',
 'ls460',
 'conversion',
 'fordsuper',
 'eelantra',
 'Mazda6',
 'Wrangler',
 'F',
 'camary',
 '924',
 'crv-kx',
 'SLK',
 'Optima',
 'Vovlo',
 'tran',
 'None',
 'Galaxie',
 'd-150',
 '8600',
 'gls63',
 'j37',
 'semi',
 '880',
 'sierra',
 'aura',
 'rx330',
 '380sl',
 'mazda2',
 'CHRYSLR',
 'venz',
 'Keep',
 '133',
 'Prevost',
 'volswagen',
 'caravan',
 'INTERNATIONAL',
 'dlxe',
 'evoqu',
 'clarity',
 'Yamaha',
 'weangler',
 'E350',
 'Lanchia',
 'villager',
 'cheverolet',
 '670',
 'equinoxlt',
 'regale',
 'marcedes',
 '550xi',
 'econline',
 'Lexus,',
 'diesel.',
 'FordF150',
 'BMWci',
 'marano',
 'tarus',
 'MERZ',
 'Miniature',
 'genesis',
 'chevelle',
 'nv',
 '3500hd',
 'GL',
 'devile',
 'chrsyler',
 'Jepp',
 'eguinox',
 'cutlass',
 'bj42',
 'Wireless',
 '428xi',
 'Mazda.',
 'Holnda',
 '2.0t',
 'mga',
 'SONATA',
 'q8',
 'sebring',
 '280zx',
 's80',
 '250',
 'rubicon',
 '1938',
 '1510',
 'rx400h',
 's55',
 '1988',
 '01',
 'volksagon',
 'gtc4lusso',
 'celsior',
 'CADDILAC',
 'toyata',
 'c250c',
 'xt',
 '190d',
 '528it',
 'x3m',
 'vigor',
 'E-ONE',
 'silverado1500',
 'Chavez',
 'monterey',
 'new',
 's10',
 'gle',
 's8',
 '435i',
 '2019',
 'power',
 'BMW330ci',
 'ezgo',
 'm30',
 'm-roadster',
 'x3~1-owner',
 'bettle',
 'vn',
 'ultra',
 '9995',
 '143900',
 'Hyandi',
 'tcoma',
 'CHEBY',
 '300gd',
 'p85',
 'torus',
 'Totyota',
 'fairlane',
 '2017',
 'tradesman',
 'F-150',
 'c20',
 'Toyora',
 'eagle',
 'alltrack',
 '1932',
 'TOYOT',
 's60r',
 'flex,fwd,3.5l',
 'rs5',
 'Durango',
 '8',
 '60100',
 'Jaquar',
 'Nisaan',
 'compus',
 'Toyoaya',
 'CJHEVY',
 'laredo',
 'm74',
 'cheny',
 'couple',
 'variety',
 's-550',
 'forte',
 'ranier',
 'concorde',
 'expidition',
 'b150',
 '1977',
 '3.8',
 'passport',
 'popular',
 'c230',
 '450sl',
 'cls63',
 'k2500hd',
 'Ducati',
 'esv',
 '230i',
 '2.7',
 'chargere',
 'fotre',
 '670,',
 'c400',
 'Farm',
 'isf',
 'protegé',
 'a-6',
 'veloxter',
 'journy',
 '300chrysler',
 'lear',
 'z3',
 '2014',
 '1971',
 'a5',
 'blazer',
 'hummer',
 'ex',
 'nisaan',
 'e-series',
 '280sl',
 'BWM',
 'm235i',
 'centra',
 'dune',
 '450e',
 'lesebre',
 'cgarger',
 'sc430',
 'excursion',
 'enclave',
 'c4500',
 'm37',
 'Maserati',
 'scape',
 'ct200h',
 '540i',
 'Prius',
 'gl350',
 'Ford,',
 'e550',
 'MGTD',
 'xg350i',
 '228i',
 'acord',
 '1984',
 'lasable',
 'workstar',
 'In',
 'CHRYLER',
 'CHEV.',
 'Crystler',
 'sidekick',
 'Pick',
 'Scion',
 'mx-5',
 'Rolls-Royce',
 'yj',
 'fx',
 'cadenz',
 'TUNDRA',
 'BigTex',
 'l-series',
 'station',
 'forte5',
 'valer',
 'v40',
 'aztec',
 'crossroads',
 'Inifiti',
 'CRV',
 'H3',
 'Bed',
 'seirra',
 'varsa',
 'TOYATA',
 'JAYCO',
 '199',
 'Aveo',
 'silveradohd',
 'hhr,',
 'heritage',
 'qx80',
 '1982',
 'Cruze',
 'hot',
 'clk350',
 'F-250',
 'Infinti',
 'xt6',
 'tuscon',
 '4.5',
 'comanche',
 'TOYOTA,',
 '1941',
 '2013',
 'st',
 'Clubman',
 'PATRIOT',
 'festiva',
 'Jagur',
 'Sherman+%2B+Reilly',
 'JAQUAR',
 'e110',
 'BMWx3',
 '170,405',
 'ttiburon',
 'montana',
 'outlander',
 'ascent',
 'mclaren',
 'riviera',
 '85',
 'f-150xlt',
 'crosley',
 'v90',
 '"2017',
 'avalache',
 'TI',
 'CHEVROELT',
 'spirit',
 'st.',
 'XJ8L',
 'styleline',
 'commercial',
 '4-dr',
 'rcf',
 'expo',
 'davison',
 'AT',
 'Fusion',
 'FC-150',
 'Ford-',
 'menz',
 'concordia',
 '2005',
 'a4a',
 'endeavor',
 'sportsmobile',
 'rt',
 'b-class',
 '200c',
 '488',
 'clk550',
 'gla250',
 'wayfarer',
 'e-type',
 'ChevyHhr',
 'vnl670',
 'acvord',
 'ASK',
 'vnm200',
 'bighorn',
 'monster',
 'máxima',
 'Kasier',
 'ChevroletMalibu',
 'Infimiti',
 'doul',
 'park',
 '131,000',
 'phaeton',
 'Unimog',
 '"prius',
 '4-door',
 'chassis',
 'glc300',
 'civ',
 'NISSASN',
 'l8000',
 'junk',
 '*',
 'Bmw128i',
 'f-25o',
 'xj12',
 'crestline',
 'FRIEGHTLINER',
 'vt750c2',
 'clk430',
 'digger',
 'Impreza',
 'wrangker',
 'MASSIMO',
 'nustang',
 't-bird',
 'Lancia',
 'chip',
 'Jeep',
 'Starcraft',
 'Convertible',
 'Hondy',
 'export',
 'camaro',
 '2000',
 '3000gt',
 'tercel',
 'MiniCooper',
 'Sprinter',
 'mkviii',
 'Desota',
 'Rv',
 'SUPER',
 'HY',
 '48829',
 'Didge',
 'C230',
 'Neon',
 'wrangler,',
 'forester',
 '1965',
 'qx30',
 'linclon',
 'benz-e500',
 'Karnabb-Ghia',
 'Lance',
 'altim',
 'thurnderbird',
 'pv544',
 'unknown',
 'WRANGLER',
 'rat',
 'srx4',
 'Four',
 'sforte',
 '71',
 'pawer',
 'w4s042',
 'wagon',
 'Firebird',
 '1997Gmc',
 'toyta',
 'es330',
 'Am',
 '98',
 '528',
 '185000',
 'ml500',
 'Volswaguen',
 'Fuso',
 's22',
 'harly-davidson',
 'Internacional',
 'w250',
 '4300',
 'crand',
 'minivan',
 'expeditionxlt',
 'd300',
 'lil',
 'cla',
 'liberty',
 '99',
 'JM4',
 'm',
 'lhs',
 '458',
 'tocoma',
 '252300',
 'vnl630',
 'elantra.',
 'Daimler',
 'Checrolet',
 'Porche',
 '"q3',
 '193000',
 'Volkswagon',
 '1954',
 'is350c',
 'dyna',
 'c1330',
 'gm',
 'Ice',
 'sportwagon',
 's10,',
 'saturun',
 'vlr',
 'altmia',
 'Internationa',
 'Datson',
 'silveradocrew',
 'altma',
 'LincolnTown',
 'resto',
 'slc450',
 'fusion',
 'a3',
 'pt',
 'xt5',
 '4x4',
 's63',
 'captiva',
 'WATER',
 'mirai',
 'Tundra',
 '1FMCU9G98HUE97650',
 'regent',
 'rs7',
 'wranglerrubicon',
 'cx90',
 'xjl',
 'HISUN',
 ...]

In [32]:
dff=df_model.withColumn('car_model',concat_ws(" ",df_model.manufacturer,df_model.model))
dff.show(5)

#df_model.withColumn('car_model',df_model=df1.car_model).show()

+------+-----+------+------------+--------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+
|region|price|  year|manufacturer|   model|condition|  cylinders|fuel|odometer|title_status|transmission|drive|  type|paint_color|      lat|      long|         car_model|
+------+-----+------+------------+--------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+
|auburn|35990|2010.0|   chevrolet|corvette|     good|8 cylinders| gas|   32742|       clean|       other|  rwd| other|    unknown|    32.59|    -85.48|chevrolet corvette|
|auburn| 7500|2014.0|     hyundai|  sonata|excellent|4 cylinders| gas|   93600|       clean|   automatic|  fwd| sedan|    unknown|  32.5475|  -85.4682|    hyundai sonata|
|auburn| 4900|2006.0|         bmw|      x3|     good|6 cylinders| gas|   87046|       clean|   automatic|other|   SUV|       blue|32.616807|-85.464149|            bmw x3|
|auburn| 2000|1974.0|   chevrolet|    c-10|     good|4 cylinders| gas|  190000|       clean|   automatic|  rwd|pickup|       blue|  32.8616|  -85.2161|    chevrolet c-10|
|auburn|29590|2016.0|      toyota|  tacoma|     good|6 cylinders| gas|   33290|       clean|       other|other|pickup|        red|    32.59|    -85.48|     toyota tacoma|
+------+-----+------+------------+--------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+
only showing top 5 rows

In [33]:
# Finding car age and adding a new column named car_age

dff = dff.withColumn("year",dff["year"].cast("int"))

dff.printSchema()

root
 |-- region: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = true)
 |-- odometer: integer (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- car_model: string (nullable = false)

In [34]:
dff=dff.withColumn("car_age", (2021-dff['year']))
dff.show(2)

+------+-----+----+------------+--------+---------+-----------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
|region|price|year|manufacturer|   model|condition|  cylinders|fuel|odometer|title_status|transmission|drive| type|paint_color|    lat|    long|         car_model|car_age|
+------+-----+----+------------+--------+---------+-----------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
|auburn|35990|2010|   chevrolet|corvette|     good|8 cylinders| gas|   32742|       clean|       other|  rwd|other|    unknown|  32.59|  -85.48|chevrolet corvette|     11|
|auburn| 7500|2014|     hyundai|  sonata|excellent|4 cylinders| gas|   93600|       clean|   automatic|  fwd|sedan|    unknown|32.5475|-85.4682|    hyundai sonata|      7|
+------+-----+----+------------+--------+---------+-----------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
only showing top 2 rows

In [35]:
ucd_3 = dff.drop('model')
ucd_3.show(5)

+------+-----+----+------------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+-------+
|region|price|year|manufacturer|condition|  cylinders|fuel|odometer|title_status|transmission|drive|  type|paint_color|      lat|      long|         car_model|car_age|
+------+-----+----+------------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+-------+
|auburn|35990|2010|   chevrolet|     good|8 cylinders| gas|   32742|       clean|       other|  rwd| other|    unknown|    32.59|    -85.48|chevrolet corvette|     11|
|auburn| 7500|2014|     hyundai|excellent|4 cylinders| gas|   93600|       clean|   automatic|  fwd| sedan|    unknown|  32.5475|  -85.4682|    hyundai sonata|      7|
|auburn| 4900|2006|         bmw|     good|6 cylinders| gas|   87046|       clean|   automatic|other|   SUV|       blue|32.616807|-85.464149|            bmw x3|     15|
|auburn| 2000|1974|   chevrolet|     good|4 cylinders| gas|  190000|       clean|   automatic|  rwd|pickup|       blue|  32.8616|  -85.2161|    chevrolet c-10|     47|
|auburn|29590|2016|      toyota|     good|6 cylinders| gas|   33290|       clean|       other|other|pickup|        red|    32.59|    -85.48|     toyota tacoma|      5|
+------+-----+----+------------+---------+-----------+----+--------+------------+------------+-----+------+-----------+---------+----------+------------------+-------+
only showing top 5 rows

In [36]:
ucd_3.select([count(when(isnull(c), c)).alias(c) for c in ucd_3.columns]).show()
ucd_3.count()

+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+---------+-------+
|region|price|year|manufacturer|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color| lat|long|car_model|car_age|
+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+---------+-------+
|     0|    0|   0|           0|        0|        0|   0|       0|           0|           0|    0|   0|          0|7257|6773|        0|      0|
+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+----+-----------+----+----+---------+-------+

399839

In [37]:
df_cl=ucd_3.withColumn("cylinders", split(col("cylinders")," ").getItem(0))
df_cl.show(2)

+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
|region|price|year|manufacturer|condition|cylinders|fuel|odometer|title_status|transmission|drive| type|paint_color|    lat|    long|         car_model|car_age|
+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
|auburn|35990|2010|   chevrolet|     good|        8| gas|   32742|       clean|       other|  rwd|other|    unknown|  32.59|  -85.48|chevrolet corvette|     11|
|auburn| 7500|2014|     hyundai|excellent|        4| gas|   93600|       clean|   automatic|  fwd|sedan|    unknown|32.5475|-85.4682|    hyundai sonata|      7|
+------+-----+----+------------+---------+---------+----+--------+------------+------------+-----+-----+-----------+-------+--------+------------------+-------+
only showing top 2 rows

In [38]:
distinct_ids = [x.cylinders for x in df_cl.select('cylinders').distinct().collect()]
distinct_ids

['3', '8', '5', 'other', '6', '10', '4', '12']

In [39]:
# replace missing number of cylinders with median of car model & delete 'other'

from pyspark.sql import *

df_test=df_cl.where(df_cl['cylinders'] != 'other')
df_test2 = df_test.withColumn("cylinders",df_test["cylinders"].cast("int"))
df_res=df_test2.approxQuantile("cylinders", [0.5], 0.25)
df_res

[4.0]

In [40]:
ucd_4=ucd_4.withColumn('cylinders', regexp_replace('cylinders', 'other', '4'))
distinct_ids = [x.cylinders for x in ucd_4.select('cylinders').distinct().collect()]
distinct_ids

NameError: name 'ucd_4' is not defined

In [ ]:
ucd_4=df_cl.withColumn('fuel', regexp_replace('fuel', 'other', 'gas'))
distinct_ids = [x.fuel for x in ucd_4.select('fuel').distinct().collect()]
distinct_ids

In [ ]:
ucd_4.show(5)

In [ ]:
ucd_4 = ucd_4.withColumn("year",ucd_4["year"].cast("string"))
ucd_4.printSchema()

In [ ]:
mnd = sc.read.format("mongo").option("uri","mongodb://localhost:27017/Dbda.ucd_4").load()

ucd_4.write.format("mongo").option("uri","mongodb://localhost:27017/Dbda.ucd_4").mode("append").save()
ucd_4.show()

In [ ]:
distinct_ids = [x.region for x in ucd_4.select('region').distinct().collect()]
distinct_ids

In [ ]:
ucd_4.count()

In [ ]:
#ucd_4.coalesce(1).write.format('csv').save("cleaned.csv", header='true')

In [ ]:
advcl = ucd_4.where(ucd_4['condition'] != 'not specified')
advcl = advcl.where(ucd_4['transmission'] != 'other')
advcl = advcl.where(ucd_4['drive'] != 'other')
advcl = advcl.where(ucd_4['type'] != 'other')
advcl = advcl.where(ucd_4['paint_color'] != 'unknown')
advcl.show(5)
advcl.count()

In [ ]:
mnd1 = sc.read.format("mongo").option("uri","mongodb://localhost:27017/Dbda.Advcln").load()

advcl.write.format("mongo").option("uri","mongodb://localhost:27017/Dbda.Advcln").mode("append").save()
advcl.show()